

.h3{
    text-align:center;
    color: black;
    position: center;
    font-size:50px;
    margin-left: 100px;
    
}
.h1{
    color: black;
    position: center;
    font-size:50px;
    margin-left: 100px;

}
.h2{
    color: black;
    position: center;
    font-size:16px;
    margin-left: 100px;
}
.body {
    background: white url("images/background.png") no-repeat center center;
    background-size: cover;
}
.center{
    display: flex;
    justify-content: center; 
}